{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    
    <div class="main" role="main">
        <div class="landingpage">
            {{ content }}
            {% for tech in meta.Analysis %}
                <a href="{{ base_url }}/analysis/{{ tech.class }}" class="box {{ tech.class }}">
                    <h2>{{ tech.name }}</h2>
                </a>
            {% endfor %}

        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
